Repository komdigi-progrezio/pse-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint

.lintstagedrc.json:

{
  "*.{vue,js,css,md,json,yml}": ["prettier --write", "git add"],
  "*.{vue,js,css}": ["yarn lint", "prettier --write", "git add"]
}

Update Dockerfile
  Dockerfile
Due: none

Add new file
  deployment-live-prod.yaml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: prettier --write

fix: remove some menu on sidebar admin
  src/containers/partials/sidebar.js
Due: prettier --write, yarn lint

fix: latest update code
  src/router/index.js
  src/store/modules/auth.js
  src/views/pages/CertificatePage.vue
  src/views/systems/SystemDetail.vue
Due: prettier --write, yarn lint

Add new file
  .env.development.local
Due: none

Update .env.production
  .env.production
Due: none

fix: latest code update
  Dockerfile
  docker-compose.yml
  docker/nginx/default.conf
  src/containers/partials/sidebar.js
Due: prettier --write, yarn lint

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: prettier --write

fix: update the certificate page
  src/views/accounts/AccountParent.vue
  src/views/pages/CertificatePage.vue
  src/views/systems/SystemDetail.vue
Due: prettier --write, yarn lint

OP-3 update sistem elektronik label
  src/containers/_nav.js
  src/containers/partials/pejabat.js
  src/containers/partials/sidebar.js
Due: prettier --write, yarn lint

fix: update login view
  src/views/pages/Login.vue
Due: prettier --write, yarn lint

fix: change color text
  src/router/index.js
  src/views/pages/Login.vue
Due: prettier --write, yarn lint

fix: update marquee text
  src/views/pages/Login.vue
Due: prettier --write, yarn lint

add column bersedia dipublish
  src/views/pages/SistemEletronik.vue
Due: prettier --write, yarn lint

add approve button in system detail
  src/views/systems/SystemDetail.vue
Due: prettier --write, yarn lint

fix: update field certificate & add badge to login page
  src/assets/images/badge-polos.png
  src/views/pages/CertificatePage.vue
  src/views/pages/Login.vue
Due: prettier --write, yarn lint

fix: update certificate page
  src/views/pages/CertificatePage.vue
Due: prettier --write, yarn lint

fix: fix field nomor tanda daftar
  src/views/pages/CertificatePage.vue
Due: prettier --write, yarn lint

fix: login page view
  src/views/pages/Login.vue
Due: prettier --write, yarn lint

OP-11 role column
  src/views/accounts/Account.vue
Due: prettier --write, yarn lint

OP-12 update sidebar
  src/containers/TheSidebar.vue
Due: prettier --write, yarn lint

OP-10 update column text
  src/views/submission/Submission.vue
Due: prettier --write, yarn lint

fix: remove badge image
  src/views/pages/Login.vue
Due: prettier --write, yarn lint
