Repository komdigi-progrezio/pse-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint

fix: update feedback
  src/views/systems/SystemApproved.vue
Due: prettier --write, yarn lint

feat: new notifikasi pse ui
  .env.development.local
  .env.production
  package-lock.json
  package.json
  src/App.vue
  src/assets/icons/icons.js
  src/assets/images/pse-logo-white.png
  src/assets/scss/_custom.scss
  src/assets/scss/style.scss
  src/containers/Notifikasi.vue
  src/containers/TheHeader.vue
  src/containers/TheSidebar.vue
  src/views/systems/SystemDetail.vue
  yarn.lock
Due: prettier --write, yarn lint

fix: remove setujui se detail di pejabat dan sub pejabat
  src/views/systems/SystemDetail.vue
Due: prettier --write, yarn lint

Update prod env
  .env.production
Due: none

feat: add new ui for registrasi pejabat
  .env.development.local
  src/assets/scss/_custom.scss
  src/views/Dashboard.vue
  src/views/pages/OfficialNew.vue
Due: prettier --write, yarn lint

feat: update register page style
  src/assets/scss/_custom.scss
Due: none

Update http method users/{id}/profile api
  .huskyrc.json
  src/views/accounts/AccountProfile.vue
Due: prettier --write, yarn lint

Update .huskyrc.json
  .huskyrc.json
Due: prettier --write

feat: first commit
  .env.development.local
  README.md
  package.json
Due: prettier --write

fix: search pengguna dan tambah tahun
  src/views/pages/SistemEletronik.vue
Due: prettier --write, yarn lint

fix: env for development
  .env.development.local
Due: none

fix: package json for prod
  package.json
Due: prettier --write

fix: take out filter satuan kerja
  src/views/accounts/Account.vue
Due: prettier --write, yarn lint

fix: update search by instansi
  src/views/pages/SistemEletronik.vue
Due: prettier --write, yarn lint

fix: fix search filter repository
  src/views/pages/SistemEletronik.vue
Due: prettier --write, yarn lint

fix: update dockerfile
  Dockerfile
Due: none

fix: update file gitlab-ci
  .gitlab-ci.yml
Due: prettier --write

fix: adding back regex
  src/views/pages/OfficialNew.vue
Due: prettier --write, yarn lint

fix: update qr=code sealid
  src/assets/images/qr-code.png
Due: none

fix: add last login & logout
  src/store/modules/auth.js
Due: prettier --write, yarn lint

fix: update copyright
  src/views/pages/Login.vue
Due: prettier --write, yarn lint

feat: update sprint 9
  src/views/accounts/AccountParent.vue
  src/views/accounts/AccountProfile.vue
  src/views/accounts/DetailAccount.vue
  src/views/accounts/EditAccount.vue
  src/views/pages/OfficiaReplace.vue
  src/views/pages/OfficialNew.vue
  src/views/systems/SystemApproved.vue
  src/views/systems/partials/SystemDocument.vue
  src/views/systems/partials/SystemGeneralData.vue
Due: prettier --write, yarn lint

hapus tombol dobel setujui sistem elektronik, update link barcode, kolom nama penyelenggara menjadi nama instansi, perbaikan typo sturktur organisasi menjadi struktur organisasi
  src/assets/images/qr-code-updated.png
  src/containers/_nav.js
  src/containers/partials/pejabat.js
  src/containers/partials/sidebar.js
  src/views/pages/CertificatePage.vue
  src/views/systems/SystemDetail.vue
  src/views/systems/SystemDisapproved.vue
Due: prettier --write, yarn lint

Add new file
  deployment.yaml
Due: none

Add new file
  .gitlab/.gitlab-ci.yaml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: prettier --write

Update deployment.yaml
  deployment.yaml
Due: none

Update Dockerfile
  Dockerfile
Due: none

add cross-env
  package.json
Due: prettier --write

Delete .gitlab-ci.yaml
  .gitlab/.gitlab-ci.yaml
Due: none

Update .gitignore
  .gitignore
Due: none

Path conditions:
  prettier --write: (any of: *.{vue,js,css,md,json,yml}) or (any of: *.{vue,js,css})
  yarn lint: any of: *.{vue,js,css}
