Repository komdigi-progrezio/pse-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint

Update Dockerfile
  Dockerfile
Due: none

Update package.json
  package.json
Due: prettier --write

fix: update env development
  .env.development.local
Due: none

fix: update pse env production
  .env.production
Due: none

fix: change api url backend
  .env.production
Due: none

mandatory field pada pembuatan SE
  src/views/systems/SystemEdit.vue
  src/views/systems/SystemRegister.vue
  src/views/systems/partials/SystemExperts.vue
  src/views/systems/partials/SystemGeneralData.vue
  src/views/systems/partials/SystemHardware.vue
  src/views/systems/partials/SystemOrganizerProfile.vue
  src/views/systems/partials/SystemResponsiblePerson.vue
  src/views/systems/partials/SystemSoftware.vue
Due: prettier --write, yarn lint

fix: update env dev
  .env.production
Due: none

fix kondisi tanda daftar sistem elektronik
  src/views/systems/SystemDetail.vue
Due: prettier --write, yarn lint

fix: update env to ssd-dev again
  .env.production
Due: none

fix: update pipeline
  src/views/systems/SystemDetail.vue
Due: prettier --write, yarn lint

resolve conflicts
  .env.production
  .gitlab-ci.yml
Due: prettier --write

fix: add progres 100 to detail sa for 'setujui system elektronik' button
  src/views/systems/SystemDetail.vue
Due: prettier --write, yarn lint

fix kondisi pada tombol kunci sistem elektronik
  src/views/systems/SystemApproved.vue
Due: prettier --write, yarn lint

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: prettier --write

merubah nama kolom di halaman sebelum disetujui
  src/views/systems/SystemDisapproved.vue
Due: prettier --write, yarn lint

fix invalid date(2)
  src/views/systems/SystemApproved.vue
Due: prettier --write, yarn lint

resolve conflict sprint 11
  .gitlab-ci.yml
Due: prettier --write

menambahkan alasan setelah user registrasi
  src/views/accounts/Account.vue
Due: prettier --write, yarn lint

Update .env.production
  .env.production
Due: none

sprint review 12 - no 8, 10, 11
  src/views/accounts/AccountProfile.vue
  src/views/pages/OfficialNew.vue
  src/views/systems/partials/SystemGeneralData.vue
Due: prettier --write, yarn lint

sprint review 12 - no 4
  src/views/systems/partials/SystemGeneralData.vue
Due: prettier --write, yarn lint

fix: update no 4
  src/views/systems/partials/SystemGeneralData.vue
Due: prettier --write, yarn lint

fix: increase length to 500 character
  src/views/systems/partials/SystemGeneralData.vue
Due: prettier --write, yarn lint

menambahkan sort tanggal dan status pada daftar pengajuan data
  src/views/submission/Submission.vue
Due: prettier --write, yarn lint

fix: sort berdasarkan waktu pendaftaran di daftar user
  src/views/accounts/Account.vue
Due: prettier --write, yarn lint

menambahkan popup setelah pengisian awal se
  src/views/systems/SystemApproved.vue
  src/views/systems/SystemRegister.vue
Due: prettier --write, yarn lint

fix: update feedback 3 october no 3
  src/views/systems/SystemDisapproved.vue
Due: prettier --write, yarn lint

menambahkan waktu pada popup pengisian awal se
  src/views/systems/SystemApproved.vue
  src/views/systems/SystemRegister.vue
Due: prettier --write, yarn lint

fix: sprint 14 no 5
  src/views/systems/SystemRegister.vue
Due: prettier --write, yarn lint

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{vue,js,css,md,json,yml}) or (any of: *.{vue,js,css})
  yarn lint: any of: *.{vue,js,css}
